$body-bg-color: #e2e8f0;
$elements-bg-color: #ffffff;

$primary-color: #5e81f4;

$primary-text-color: #4a5568;
$secondary-text-color: #718096;

$link-color: $secondary-text-color;
$link-color-hover: $primary-color;
$active-link-color: #1c1c1c;