@use "../variables" as v;

.sidebar {
  background: v.$elements-bg-color;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  color: v.$primary-text-color;
  z-index: 1;

  .logo {
    padding: 0.9em;
    letter-spacing: 0.1em;
    font-size: 1.75rem;
    text-transform: uppercase;
    background: linear-gradient(to right, #6989f4 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: top;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
  }

  .menu {
    display: flex;
    flex-direction: column;

    &.top {
      flex: 1;
    }
  
    .link {
      display: flex;
      font-size: 1em;
      letter-spacing: 0.1em;
      text-decoration: none;
      padding: 0.6em 1em;
      text-transform: capitalize;
      align-items: center;
      color: v.$link-color;
      font-weight: 400;
      transition: all 0.2s ease-in-out;

      .icon {
        font-size: 1.7em;
        text-align: left;
        width: 1.5em;
        margin-right: 5px;
        text-align: left;
      }
  
      &:hover {
        background-color: #f1f1f1;
        color: v.$link-color-hover;
      }

      &.active,
      &.active:hover {
        font-weight: 700;
        background-color: #f1f1f1;
        color: v.$active-link-color;
        border-right: 5px solid v.$primary-color;
        .icon {
          color: v.$primary-color;
        }
      }
    }

  }
}